.header{
    display: table;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 1;
}
img{
    width: 50%;
}
.header--left{
    display: table-cell;
    width: 15%;
}
.header--middle{
    justify-content: space-between;
    display: table-cell;
    border: 2.5%;
    width: 50%;
    padding: 0%;
}
.header--right{
    width: 20%;
    justify-content: space-between;    
    display: table-cell;
    border: 2.5%;
    padding: 0%;
}
ul > li {
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
}
a{
    text-decoration: none;
    color: #181B21;
}
.vehicles{
    padding: 1%;
}
.header--right--list--items{
    padding: 3%;
}
.vehicles:hover,.header--right--list--items:hover{
    background:rgba(128,128,128,.1);
    border-radius: 9px;
    color: #181B21;
    transition: .25s;
}
@media screen and (max-width: 907px) {
    .header--middle{
        display: none;
    } 
    .invisible--right--item{
        display: none;

    }
    .shade--menu{
        background:rgba(128,128,128,.1);
        border-radius: 9px;
        color: #181B21;
    }
    .header--right--list{
        display: flex;
        justify-content: flex-end;
        margin-right: 2%;
        padding: 3% 5% 3% 5%;
    }
    img{
        width: 80%;
    }
    .header--left{
        display: flex;
        justify-content: flex-start;
        padding-left: 5%;
    }
}
